
body{
    margin: 0;

}
h3{
    color: #ff7f00;
}

header{
    background-color: #ff7f00;

}
.header{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    max-width: 900px;
    margin: 0 auto;
   
}
.nav .nav-bar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.nav-bar  li a{
    text-decoration: none;
    color: #020202;
    font-family: cursive; 
    color: white;
}
.nav .nav-bar>*{
    font-size: 1.5rem;
    display: inline-block;
      
}
.nav-bar  li:last-child{
    border-left: 5px solid #ffffff; 
    padding-left: 15px;       
}
.hamburger{
    display: none;    

 }

 .pics{
     margin-top: 30px;
     display: grid;
     grid-template-columns: repeat(10, 90px);
     grid-template-rows:  repeat(4, 155px)   ; 
 }
 .pics .pic1{
 grid-column: 2 / 4 ;
 grid-row: 1/ 3 ;
 
 }
 .pics .pic2{
     grid-column: 4 /span 2 ;
     grid-row: 1/ span 2 ;
 }
 .pics .pic3{
     grid-column: 6 /span 2 ;
     grid-row: 1/ span 2 ;
 }
 .pics .pic4{
     grid-column: 8 /span 2 ;
     grid-row: 1/ span 2 ;
 }
 .pics .pic5{
     grid-column: 1 /span 2 ;
     grid-row: 2/ span 3 ;
 }
 .pics .pic6{
     grid-column: 3 /span 2 ;
     grid-row: 2/ span 3 ;
 }
 .pics .pic7{
     grid-column: 5 /span 2 ;
     grid-row: 2/ span 3 ;
 }
 .pics .pic8{
     grid-column: 7 /span 2 ;
     grid-row: 2/ span 3 ;
 }
 .pics .pic9{
     grid-column: 9 /span 2 ;
     grid-row: 2/ span 3 ;
 }
 .pics .pic10{
     grid-column: 2 /span 2 ;
     grid-row: 3/ span 3 ;
 }
 .pics .pic11{
     grid-column: 4 /span 2 ;
     grid-row: 3/ span 3 ;
 }
 .pics .pic12{
     grid-column: 6 /span 2 ;
     grid-row: 3/ span 3 ;
 }
 .pics .pic13{
     grid-column: 8 /span 2 ;
     grid-row: 3/ span 3 ;
 }
.search-container{
    display: flex;
    gap: 10px;
    font-family: fantasy;
    background-color: #e3e3e3;
    height: 40px;
    color: #ff7f00;
    justify-content: center;
    align-items: center;
}
.search-container label:last-child{
    border-right: 1px solid #ffffff00;

}
.search-container span{
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search-container label{
    border-right: 3px solid #ffffff;
    padding-right: 10px ;
    cursor: pointer;

}

.main-container{
display: flex;
/* display: none; */
align-items: center;
justify-content: center;
width: 100%;
transition-duration: 500ms;

}
.pic{
    height: 200px;
    width: 200px;
    clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
    /* transform: scale(1.077);
    transition: transform 0.3s; */
}
.pic img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.pic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.flexible{
    text-align: center;
    margin-bottom: 30px;

}
.flexible button{
    background-color: #ff7f00;
    border: 1px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    color: #fdfdfd;
    font-family: cursive;
    height: 40px;
    width: 200px;
    z-index: 10;
}
    
.meme-generator{
    /* display: flex; */
    display: none;
    justify-content: center;
    gap: 30px;
    background-color: #e3e3e3; 
}
.meme-generator .cntrl-panel{
    
    display: grid;
    max-height: 500px;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: 1fr  1fr  1fr  1fr  1fr;
    grid-template-rows: 40px 20px 40px 20px 80px 10px 40px 40px;
    grid-template-areas: 

   "inc-bt    dec-bt  color-bt  change-bt    delete-bt"
   "  .          .        .         .             ."
   "fonts     fonts     fonts     fonts        add-bt"
   "  .          .        .         .             ."
   "stickers  stickers  stickers  stickers  stickers"
   "  .          .        .         .             ."
   "download-bt     download-bt     download-bt     share        share"
   "file-input     file-input     return-bt   return-bt        return-bt"


   ;
}


.inc-size{
    grid-area: inc-bt;
    max-height: 100%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 15px;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
      
}
.inc-size:hover,.dec-size:hover,.clore-inp:hover,.clore-inpdd:hover,.clore-inp img:hover,.change-text:hover,.delete-text:hover,.fonts-selction:hover,.sticker:hover,.stickers button:hover
,.add-text:hover,.share-bt:hover,.download-bt:hover
,.download-bt a:hover,.file-input:hover,.file-input-label:hover,.return-bt:hover,.keywords:hover,.prev-page:hover,.next-page:hover,.flexible:hover{
    transform: scale(1.1);

}


.dec-size{
    grid-area: dec-bt;
    max-height: 100%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 15px;
    border-radius: 20px 20px 20px 20px;
}

.clore-inp{
    background-image:url("/icons/add.png") ;
    grid-area: color-bt;
    /* background-color: #ffffff; */
    border: 1px solid #ffffff;
    padding: 15px;
    border-radius: 20px 20px 20px 20px;
    height: 40px;
    width: 40px;
    background-color: #fdfdfd;
    
  
}
.clore-inpdd{
    display: none;
}
.clore-inp img{
    height: 40px;
    width: 40px;
}
.change-text{
    grid-area: change-bt;
    max-height: 100%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 15px;
    border-radius: 20px 20px 20px 20px;
}
.delete-text{
    grid-area: delete-bt;
    max-height: 100%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 15px;
    border-radius: 20px 20px 20px 20px;
}
.fonts-selction{
    grid-area: fonts;
        width: 100%;
        height: 60px;
        cursor: pointer;
        padding: 10px 15px;
        border: 1px solid #000000;
        border-radius: 15px;
        background: #fdfdfd;
        display: flex;
        margin-top: 6px;

    
    }
 

.stickers{
    display: flex;
    background-color: rgb(255, 255, 255);
    grid-area: stickers;
    font-size: 50px;
    justify-content: space-around;
    border-radius: 20px 20px 20px 20px;

}
.stickers button{
    border: 1px solid #ffffff00;
    background-color: #ffffff00;
    font-size: 60px;
    font-family: monospace;
    margin-bottom: 20px;

    

}
.add-text{
    grid-area: add-bt;
    max-height: 100%;
    max-height: 100%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 15px;
    border-radius: 20px 20px 20px 20px;
}
.share-bt{
    grid-area: share;
    background-color: #ff7f00;
    border: 1px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    color: #fdfdfd;
    font-family: cursive;
}
.download-bt{
    grid-area: download-bt;
    background-color: #ff7f00;
    border: 1px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
}
.download-bt a{
    text-decoration: none;
    color: #fdfdfd;
    font-family: cursive;
}
.file-input{
    /* grid-area: file-input; */
    display: none;
}
.file-input-label{
    grid-area: file-input;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #ff7f00;
    border: 1px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    color: #fdfdfd;
    font-family: cursive;
    font-size: 14px;

}
.return-bt{
    grid-area: return-bt;
    background-color: #ff8000b2;
    border: 2px solid #f70b0b;
    border-radius: 20px 20px 20px 20px;
    color: #fdfdfd;
    font-family: cursive;
    font-size: 15px;

}

.canva-container{
    margin-top: 20px;
    text-align: center;
}
.about{
    height: 300px;
    max-width: 100vw;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;  
} 
.about-container{
    display: flex;
    gap: 20px;
}

.logo{
    font-size: 35px; 
    font-family: fantasy;
}

.aside img{
  height: 250px;
  width: 190px;
  border: 5px solid #ffffff;
  border-radius:50%;
  
  
}
.information-on-me{
    max-width: 300px;
    font-family: cursive;
}
.pages{
    margin-top: -60px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 50px;
}
.pages button{
    background-color: #ff7f00;
    border: 1px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
    color: #ffffff;
    cursor: pointer;
}
.footer{
    text-align: center;
    color: white;
    background-color: #ff7f00;
    height: 70px;
    font-family: cursive;
}

.nav-bar a {
    background-image: linear-gradient(to right, #e3e3e3, #e3e3e3 50%, rgba(0, 0, 0, 0) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;

    transition: all 0.3s ease-in-out;
  }
  
  .nav-bar a:before {
    content: "";
    background: #ffffff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-bar a:hover {
    color: #ff7f00;

    background-position: 0;
  }
  
  .nav-bar a:hover::before {
    width: 100%;
  }
  


  

  .hero {
    background-color: #ffffff00;
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    z-index: -1;
  }
  
  .hero__title {
    color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 1;
  }
  
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #ff7f00;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
            animation: cube 5s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #ff7f00;
  }
  .cube:nth-child(2) {
            animation-delay: 1s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
            animation-delay: 3s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
            animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
            animation-delay: 9s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
            animation-delay: 12s;
    left: 50vw;
    top: 10vh;
  }
  
  @-webkit-keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  
  @keyframes cube {
    from {
      transform: scale(1) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }